@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.my-form-container {
  width: 810px;
  height: 451px;
  top: 675px;
  left: 555px;
  border-radius: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 26px 0px #00000040;


}

/* Style for the form heading */
.my-form-heading {
  width: 80px;
  height: 38px;
  top: 730px;
  left: 599px;


  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;

  background: #000000;
}

/* Style for the form label */
.my-form-label {
  width: 198.43px;
  height: 38px;
  top: 815px;
  left: 628px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  background: #8B8B8B;


  
}

/* Style for the form input */
.my-form-input {
  width: 721px;
  height: 82px;
  top: 859px;
  left: 599px;
  background: #F4F4F4;


  
}

/* Style for the form submit button */
.my-form-button {
  width: 70px;
  height: 38px;
  top: 1009px;
  left: 925px;
  background: linear-gradient(285.17deg, #01B6B6 10.66%, #13D2DE 102.7%);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Hover effect for the form submit button */
.my-form-button:hover {
  /*background-color: #45a049;*/
}
