@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

/* Icon styles */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.time-cell {
  background: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: 103px;
  height: 60px;
  flex-shrink: 0;
}

.appointment-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font: "Roboto";
}

.table-container {
  width: 70%;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TableHead {
  background: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
  color: #fff;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.TableHead button {
  color: #fff;
  display: flex;
  align-items: center;
  background: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-left: 0%;
}

.TableHead button:hover {
  background-color: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
}

.TableHead .MuiIconButton-root {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  color: #fff;
}

.TableRow {
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.TableRow:nth-child(even) {
  background-color: var(--even-row-bg-color);
}

.TableRow:hover {
  background-color: var(--hovered-row-bg-color);
}

.TableCell {
  padding-left: 100px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.MuiDialog-paperWidthSm {
  width: 400px;
}

.MuiDialogTitle-root {
  background: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
  color: #fff;
}

.MuiDialogContent-root {
  padding: 20px;
}

.MuiDialogActions-root {
  padding: 10px 20px;
  justify-content: space-between;
}

.MuiDialogContent-select {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.MuiDialogContent-timeField,
.MuiDialogContent-amPmSelect {
  width: 50%;
  margin-bottom: 1px;
}

.patient-cell {
  cursor: pointer;
  padding-right: 330px;
  border-radius: 5px;
}

.patient-cell.available {
  background-color: #e0e0e0;
  color: #424242;
}

.patient-cell.available:hover {
  background-color: #bdbdbd;
}

.gradient-button {
  background: linear-gradient(285deg, #01b6b6 10.66%, #13d2de 102.7%);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gradient-button:hover {
  background-color: #05a08b;
}
