.title{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #080a49f1;
    color: #fff;
    padding: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}
