* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page{
  margin: 15px;
}
.container {
  border: solid 2px rgba(1, 182, 182, 1);
  border-radius: 15px;
  background: #fff;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  margin: 1rem auto;
  padding: 1rem 1rem;
}

.historyContainer {
  background: #fff;
}

.row {
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-around;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  width: 100%;
}
/* for text area inside input class div */
/* .input textarea {
  resize: none;
  background: #f4f4f4;
  border: none;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 90%;
  color: black;
} */

/* for label inside input div */
.input label {
  color: #8b8b8b;
}

/* PopUpDropListButton.css */

/* Style for the container div */
.PopUpDropListButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c3c3c3;
  font-weight: bolder;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.5rem 0.5rem;
  width: 100%;
}

/* Style for the label text */
.PopUpDropListButton-label {
  color: white; /* Set text color to white or any color of your choice */
}

/* Style for the add icon */
.PopUpDropListButton-icon {
  width: 20px; /* Adjust icon size as needed */
  height: 20px;
  fill: white; /* Set icon color to white or any color of your choice */
  cursor: pointer;
}

/* button stuff */
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 90%;
  margin: 0.5rem 0.5rem;
}
.gradient-button {
  background: linear-gradient(90deg, #13d2de, #01b6b6);
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: bold;
  padding: 0.8rem 3rem;
  cursor: pointer;
  margin-left: auto; /* Align the button to the right */
}
