/* BlockComponent.css */
.block {
    width: 393px;
    height: 226px;
    top: 170px;
    left: 79px;
    border-radius: 15px;
    background: linear-gradient(131.75deg, #01B6B6 2.18%, #13D2DE 100%);
    margin: 10px;

    /*background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;*/
  }
  