/* BlockComponent.css */
.block2 {
  width: 1367px;
  height: 226px;
  top: 170px;
  left: 492px;
  border-radius: 15px;
  border: 1px;
  background: linear-gradient(119.45deg, #006D6D 1.3%, #002426 100%);

  border: 1px solid #13D2DE;
  margin: 10px;
  

    /*background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;*/
  }
  