.appointment-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.table-container {
  width: 70%;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.TableHead {
  background-color: #2196f3;
  color: #fff;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-text {
  display: flex;
  align-items: center;
}

.TableHead button {
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.TableHead button:hover {
  background-color: #1565c0;
}

.TableHead .MuiIconButton-root {
  color: #fff;
}

.TableRow {
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.TableRow:nth-child(even) {
  background-color: #f5f5f5;
}

.TableRow:hover {
  background-color: #e0e0e0;
}

.TableCell {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.time-cell {
  background-color: #07d4c3;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  width: 40px;
}

.add-appointment-button {
  margin-left: auto;
  margin-right: 20px;
  background-color: #07d4c3;
  color: #fff;
}

.add-appointment-button:hover {
  background-color: #05a08b;
}

.MuiDialog-paperWidthSm {
  width: 400px;
}

.MuiDialogTitle-root {
  background-color: #07d4c3;
  color: #fff;
}

.MuiDialogContent-root {
  padding: 20px;
}

.MuiDialogActions-root {
  padding: 10px 20px;
  justify-content: space-between;
}

.MuiButton-containedPrimary {
  background-color: #07d4c3;
  color: #fff;
}

.MuiButton-containedPrimary:hover {
  background-color: #05a08b;
}

.MuiButton-containedSecondary {
  background-color: #e57373;
  color: #fff;
}

.MuiButton-containedSecondary:hover {
  background-color: #d32f2f;
}

.MuiDialogContent-select {
  width: 100%;
  margin-bottom: 20px;
}

.MuiDialogContent-timeField,
.MuiDialogContent-amPmSelect {
  width: 48%;
  margin-bottom: 20px;
}

.MuiButton-containedPrimary.create-button {
  background-color: #07d4c3;
  color: #fff;
}

.MuiButton-containedPrimary.create-button:hover {
  background-color: #05a08b;
}

.patient-cell {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.patient-cell.available {
  background-color: #e0e0e0;
  color: #424242;
}

.patient-cell.available:hover {
  background-color: #bdbdbd;
}
