 .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .container {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 82px;
    left: 10%;
    /* margin: 20px; */
  }
  /* Add a media query for smaller screens */
@media screen and (max-width: 600px) {
  .container {
    height: auto; /* Adjust height for smaller screens */
     position: static
  }
  } 
  