 .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .container {
    width: 100%;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  body {
    overflow-x: hidden;
  }
  