.date-picker {
  width: 100%;
}

.ClinicMangContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

.AddDevice {
  margin-top: 20px !important;
}
