
.personal{
    font-size: 20px;
    color: white;
    font-weight: bold;


}

.info{
    border-style: solid;
    border-color: #0bc6cc; 
    border-width: 1px;
    background:#0bc6cc;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    height: 95%;
    margin-left: -40px;
}
.mid{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;

}

.history{
    border-style: solid;
    border-color: #014142; 
    border-width: 1px;
    background:#014142;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 10px;
    width: 150%;
    font-size: 20px;
    color: white;
    height: 250px;
    margin-left: -30px;

}
.his1 {
    border-style: solid;
    border-color: #056f72;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    margin-left: 10px;  
  }
 
.his2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.his3{
    border-style: solid;
    border-color: #056f72;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    margin-left: 10px;
    width: 300px;

}
/* .ill{
    font-size: 10px;

}   */
  
 