.personal{
    font-size: 15px;
    color: white;
    font-weight: bold;


}
.info{
    border-style: solid;
    border-color: #0bc6cc; 
    border-width: 1px;
    background:#0bc6cc;
    border-radius: 15px;
    width: 80%;
    padding: 10px;
    /* height: 150%; */
    margin-left: -15px;
}
 .history{
    border-style: solid;
    border-color: #014142; 
    border-width: 1px;
    background:#014142;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 15px;
    width: 150%;
    font-size: 10px;
    color: white;
    /* height: 150%; */
    margin-left: -70px;

}

.mid{
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;

}


.his1 {
    border-style: solid;
    border-color: #056f72;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    margin-left: 10px; 
    /* width: 95%;  */
  }
 
.his2{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.his3{
    border-style: solid;
    border-color: #056f72;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    margin-left: 10px;
    width: 300px;

}
/* .ill{
    font-size: 10px;

}   */